@model PortalEquador.Models.ListaTipoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Novo Tipo</a>
</p>

<div class="editor-label">
    @Html.LabelFor(x => x.Ordem)
</div>
<div class="form-group">

    @using (Html.BeginForm("Index", "Tipos", FormMethod.Post))
    {

        @Html.DropDownListFor(q => q.Ordem, new SelectList(Model.Grupos, "Value", "Text"), "Escolha um grupo",
         new { @class = "form-control", @onchange = "this.form.submit()" })


    }

    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipos[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos[0].DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos[0].Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tipos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" disabled id="@item.Id" checked="@item.Ativo">
                        <label class="custom-control-label" for="@item.Id"></label>
                    </div>

                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


